<h1>NFL Season Progress</h1>

<div id="season_progress">
  <h2>Select A Team</h2>
  <ul>
    <% @game_data.each do |team, standing| %>
      <li class="team_link">
        <a href="<%= "/teams/#{team}" %>">
          <%= "#{team}" %>
        </a>
      </li>
      <br>
    <% end %>
  </ul>
</div>

<div id="leaderboard">
  <a href="<%= "/leaderboard" %>">
    <%= "~ View Leaderboard ~" %>
  </a>
</div>


