body {
  background-color: #003153;
  font-family: 'arial', 'san-serif';
  font-size: 15px;
  color: #e50b18;
}

p {
  font-size: 20px;
}
#leaderboard a:hover {
  color: #e29a1f;
  text-decoration: underline;
}

#leaderboard a {
  margin: 100px;
  font-size: 35px;
  color: #e50b18;
  font-weight: bold;
  text-decoration: none;
}

#season_progress {

  margin: 100px
}

